@import "tailwindcss";
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #1a619b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #154d7c;
}